.Player {
  width: 100%;
  height: 100%;
  display: flex;

  &--Horizontal {
    flex-direction: row;
  }

  &--Vertical {
    flex-direction: column;
  }

  &--Cell {
    width: 100%;
    height: 100%;
  }
}
