@import "../colors";

.Ring {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  pointer-events: none;

  svg {
    height: 100%;
    width: 100%;
    pointer-events: none;

    path {
      fill: red;
      pointer-events: all;
    }
  }

  &--Color1 {
    svg {
      path {
        fill: $ring-color-1;
      }
    }
  }

  &--Color2 {
    svg {
      path {
        fill: $ring-color-2;
      }
    }
  }

  &--Color3 {
    svg {
      path {
        fill: $ring-color-3;
      }
    }
  }

  &--Color4 {
    svg {
      path {
        fill: $ring-color-4;
      }
    }
  }

  &--SizeSmall {
    svg {
      width: 50%;
      height: 50%;
    }
  }

  &--SizeMedium {
    svg {
      width: 75%;
      height: 75%;
    }
  }

  &--Picked {
    svg {
      path {
        filter: drop-shadow(6px -6px 3px rgba(0, 0, 0, 0.75));
      }
    }
  }
}
