$boardBlockSize-x1: 100% / 5;
$boardBlockSize-x3: $boardBlockSize-x1 * 3;

.Board {
  height: 100vmin;
  width: 100vmin;
  background-image: url(./Board.svg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;

  &--Block {
    &--x1 {
      display: flex;
      justify-content: center;
      align-items: stretch;
      flex: 1 0 $boardBlockSize-x1;
    }

    &--x3 {
      display: flex;
      justify-content: center;
      align-items: stretch;
      flex: 1 0 $boardBlockSize-x3;
    }
  }

  &--Grid {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;

    &--Cell {
      flex: 1 0 33.3%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@media screen and (orientation: portrait) {
  .Board {
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
  }
}
