.Board {
  height: 100vmin;
  width: 100vmin;
  background-image: url(./Board.svg);
  background-size: cover;
  display: flex;
  flex-wrap: wrap;

  &--Cell {
    flex: 1 0 (100%/6 + 1%);
    display: flex;
    justify-content: center;
    align-items: center;

    &.debugView {
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        width: 16vmin;
        height: 16vmin;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.1);
        color: darkorange;
        font-size: 7vmin;
      }
    }
  }
}